<!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600">
  <rect id="rect1" width="80" height="30" x="250" y="50" fill="#F4D06F" stroke="#000"/>
  <text x="290" y="70" fill="#000" font-family="Arial" font-size="12" text-anchor="middle">Texte 1</text>
  <line x1="250" y1="0" x2="375" y2="70" stroke="black" />
<svg>

  <svg></svg>
  
  <rect id="rect2" width="80" height="30" x="250" y="100" fill="#F4D06F" stroke="#000"/>
  <text x="290" y="120" fill="#000" font-family="Arial" font-size="12" text-anchor="middle">Texte 2</text>
  
  <rect id="rect3" width="80" height="30" x="250" y="150" fill="#F4D06F" stroke="#000"/>
  <text x="290" y="170" fill="#000" font-family="Arial" font-size="12" text-anchor="middle">Texte 3</text>
  
  <rect id="rect4" width="80" height="30" x="250" y="200" fill="#F4D06F" stroke="#000"/>
  <text x="290" y="220" fill="#000" font-family="Arial" font-size="12" text-anchor="middle">Texte 4</text>
  
  <rect id="rect5" width="80" height="30" x="250" y="250" fill="#F4D06F" stroke="#000"/>
  <text x="290" y="270" fill="#000" font-family="Arial" font-size="12" text-anchor="middle">Texte 5</text>
  
  <rect id="rect6" width="80" height="30" x="250" y="300" fill="#F4D06F" stroke="#000"/>
  <text x="290" y="320" fill="#000" font-family="Arial" font-size="12" text-anchor="middle">Texte 6</text>


</svg> -->

<div class="process-map">
  <div class="process">Process 1</div>
  <div class="vertical-line">
    <div class="arrow1"></div>
  </div>
  <div class="process">Process 2</div>
  <div class="vertical-line">
    <div class="arrow1"></div>
  </div>
  <div class="process">Process 3</div>
  <div class="vertical-line">
    <div class="arrow1"></div>
  </div>
  <div class="process">Process 4</div>
  <div class="vertical-line">
    <div class="arrow1"></div>
  </div>
  <div class="process">Process 5</div>
  <div class="vertical-line">
    <div class="arrow1"></div>
  </div>
  <div class="process">Process 6</div>
  <div class="vertical-line">
    <div class="arrow1"></div>
  </div>
  <div class="process">Process 7</div>
  <div class="vertical-line">
    <div class="arrow1"></div>
  </div>
</div>

<div class="process-map">
  <svg viewBox="0 0 200 200">
    <circle cx="100" cy="100" r="100" fill="#f2f2f2" />
  </svg>
</div>